.appointment-management-page {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 80%;
}

.appointment-management-page h2{
   margin-bottom: 20px;
}
.appointment-card{
     background-color: #f0f0f0;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
}
.appointment-card p{
    margin-bottom: 5px;
}

.appointment-buttons{
   display: flex;
   gap: 20px;
}
.confirm-button{
    background-color: #28a745;
    color: white;
     padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.confirm-button:hover{
    background-color: #218838;
}
.reject-button{
    background-color: #dc3545;
    color: white;
     padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.reject-button:hover{
   background-color: #c82333;
}