.help-page {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   margin: 20px auto;
   width: 80%;
}
.help-page h2{
  margin-bottom: 20px;
}
.help-content{
   text-align: center;
}
.help-content p {
    margin-bottom: 10px;
   font-size: 1.2rem;
}
.help-content a {
   color: #007bff;
   text-decoration: none;
}