.calendar {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    font-family: 'Arial', sans-serif;
    margin-bottom: 20px;
}

.month-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}
.month-header span{
    font-size: 1.2rem;
    color: #333;
}
.month-header button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: #333;
}

.days-header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 5px;
    text-align: center;
    font-weight: bold;
}
.days-header span {
    padding: 5px;
    color: #555;
}

.days-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.calendar-day,
.empty-day {
    padding: 10px;
    border: 1px solid #eee;
}
.calendar-day {
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    color: #333;
}
.calendar-day:hover{
   background-color: #f0f0f0;
}
.calendar-day.selected{
   background-color: #007bff;
   color: white;
}